<section class="index-page">
  <%= render 'home_trigger', opinions_path: opinions_path %>

  <div class="pseudo-nav">
    <div class="category-wrapper">
      <%= render_category_trigger %>
      <ul class="category-list">
        <li> <%= link_to "All", opinions_path %> </li>
        <% Opinion.categories.each do |key, value| %>
          <li> <%= link_to value.titleize, opinions_path(category: value.downcase) %> </li>
        <% end %>
      </ul>
    </div>
    <div class="create-opinion"><%= link_to 'Share an Opinion', new_opinion_path %></div>
  </div>

  <div class="opinions-wrapper">
    <% @opinions.each do |opinion| %>
      <div class="opinion">
        <%= link_to(opinion_path(opinion)) do %>
          <div class="up">
            <div class="image" style="background-image: url(<%= opinion.image_url %>)"></div>
          </div>
          <div class="down">
            <div class="category"><%= opinion.category %></div>
            <div class="subject"><%= opinion.subject %></div>
            <div class="body"><%= opinion.body.truncate(69) %></div>
            <div class="rating"><%= 'â­' * opinion.rating.to_i %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render 'footer' %>
</section>
